.header {
    margin-bottom: 3em;
    text-align: center;
    position: relative;
}
.header-heart-icon{
    animation: pulse 2s linear infinite;
}

h1 {
    background-color: var(--titleColor);
    font-size: 3em;
    font-weight: bold;
    filter: drop-shadow(1px 1px 1px red);
    background: -webkit-radial-gradient(var(--titleColor), #ff7171, var(--titleColor));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
